@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, var(--cor-1),var(--cor-2));
    }
    section{
        width: 80vw;
    }
    #imagem{
        background-size: cover;
        background-position: bottom;

        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, var(--cor-1),var(--cor-2));
    }
    section{
        width: 950px;   
    }
    #imagem{
        background-size: cover;

        float: right;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: left;
        width: 50%;
    }
    p{
        font-size: 1.2em;
    }
}